%form{ :action => "/search", :method => "get", class: 'mv4'}
  .w-100.tc
    %input{:type => "text", :name => "movie",
      :placeholder => "Search for a movie...",
      :autofocus => true,
      :class => "input-reset border-box hover-black w-80 measure ba b--black-20 pa2 br2 mb2"}
    %input{:type => "submit", :value => "Search",
      :class => "pa2 br2 mb2 white bg-blue border-box ba b--blue pointer"}
