%form{ :action => "/search", :method => "get"}
  %label{:for => "movie"} Search:
  %input{:type => "text", :name => "movie", :class => "text"}
  %input{:type => "submit", :value => "Search", :class => "button"}
