!= haml :_search_box

.flex.flex-nowrap.w-100.items-center.justify-center.pv3
  %img{src: '/sample_1_bluray.jpeg', style: 'width: 15%;'}
  %img{src: '/sample_1_4k.jpeg', style: 'width: 15%;'}
  %img{src: '/sample_2_bluray.jpeg', style: 'width: 15%;'}
  %img{src: '/sample_2_4k.jpeg', style: 'width: 15%;'}
  %img{src: '/sample_3_bluray.jpeg', style: 'width: 15%;'}
  %img{src: '/sample_3_4k.jpeg', style: 'width: 15%;'}
