!!!
%html
  %head
    %title Movie Posters
    %link(rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css")
  %body
    #wrapper
      #header
        %h1 Movie Posters

      #content
        =yield

      #footer
        %p
          This is the footer.
