!!!
%html
  %head
    %title Movie Posters | Easily create custom Ultra HD and Blu-ray posters
    %link(rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css")
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  %body.sans-serif
    .flex.flex-column.h-100.justify-around
      .w-100.tc
        %a{href: '/', class: 'mt4 mb0 f1 blue b link dib'} Movie Posters
        %p.mt1.mid-gray
          Easily create custom Ultra HD and Blu-ray posters

      #content
        !=yield

      .w-100
        %p.tc.mid-gray.f6
          Original posters provided by
          %a{href: 'https://www.themoviedb.org/', class: 'blue'} The Movie Database


